/**************************************************************************************************************************************************************************/
/* configurator */
.configurator{
	width: 100%;
	height: 100%;
}

/**************************************************************************************************************************************************************************/
/* header */
.configurator-header{
	box-sizing: border-box;
	width: 100%;
	height: 7.8em; /* 1 pcm-name + 3 pcm-param */
	padding-left: 3px;
	padding-right: 3px;
	line-height: 1.6em;
	border-bottom: 1px solid #BDBDBD;
	background-color: white;
}

.pcm-name{
	font-size: 2em;
	height: 1.2em;
	line-height: 1.2em;
	font-weight: 600;
}

.pcm-param{
	display: inline-block;
	font-size: 1.2em;
	font-weight: 600;
}

/**************************************************************************************************************************************************************************/
/* action bar */
.configurator-action-bar{
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	line-height: 34px;
	border-bottom: 1px solid #BDBDBD;
	background-color: #EEEEEE;
	box-shadow: 0 2px 4px #BDBDBD;
}

.configurator-action-bar .button{
	box-sizing: border-box;
	min-width: 25px;
	height: 25px;
	line-height: 23px;
	padding: 0 3px 0 3px;
	margin: 5px;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	background-color: transparent;
}
.configurator-action-bar .button:hover{
	background-color: #E0E0E0;
}

.configurator-arrow{
	transition: 0.2s;
	display: inline-block;
	position: relative;
	top: -1px;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 8px solid black;
}

.configurator-arrow.right{
	transform: rotate(180deg);
}
/**************************************************************************************************************************************************************************/
/* content */
.configurator-content{
	width: 100%;
	height: calc(100% - 7.8em - 35px); /* 100% - configurator-header.height - configurator-action-bar.height */
}

.configurator-panel, .pcm{
	display: inline-block;
	vertical-align: top;
}

.configurator-panel{
	transition: 0.2s;
	box-sizing: border-box;
	/*width: 200px;*/
	height: 100%;
	overflow: auto;
	border-right: 1px solid #BDBDBD;
	background-color: #EEEEEE;
}

/*.configurator-panel.hidden{
	width: 0;
}*/

.pcm{
	transition: 0.2s;
	/*width: calc(100% - 200px);*/
	height: 100%;
	overflow: auto;
}

/*.pcm.full-width{
	width: 100%;
}*/

/**************************************************************************************************************************************************************************/
/* Table */
.configurator tr{
	border-bottom: 1px solid #BDBDBD;
}

/*.configurator tr:last-child{
	border-bottom: none;
}*/

.configurator th, .configurator td{
	padding: 3px;
	border-right: 1px solid #BDBDBD;
}

/*.configurator th:last-child, .configurator td:last-child{
	border-right: none;
}*/

.configurator th{
	font-size: 1.2em;
	padding-top: 6px;
	padding-bottom: 6px;
}

/**************************************************************************************************************************************************************************/
/* Feature directive */
.feature{
	border-bottom: 1px solid #BDBDBD;
}

.feature-button{
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: none;
	text-align: left;
	font-size: 1.2em;
	font-weight: 600;
	background-color: transparent;
	cursor: pointer;
}

.feature-button:hover{
	background-color: #F5F5F5;
}

.feature-arrow{
	transition: 0.2s;
	display: inline-block;
	position: relative;
	top: -2px;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 8px solid black;
}

.feature-arrow.bottom{
	transform: rotate(90deg);
}

.feature-content-wrap{
	transition: 0.2s;
	width: 100%;
	overflow: hidden;
}

.feature-content{
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
}

/**************************************************************************************************************************************************************************/
/* Slider */
.range-slider-left md-slider,
.range-slider-right md-slider {
   min-width: 0
}

.range-slider-container {
   position: relative;
   width: 100%;
   height: 48px
}

.range-slider-left {
   position: absolute;
   top: 0;
   width: 100%
}

.range-slider-left md-slider .md-thumb-container {
   z-index: 10
}

.range-slider-left md-slider .md-track {
   background-color: #3d4450
}

.range-slider-left md-slider .md-track.md-track-fill,
.range-slider-right md-slider .md-track-container .md-track {
   background-color: #9e9e9e
}

.range-slider-right {
   position: absolute;
   top: 0;
   right: 0
}

.range-slider-right md-slider .md-thumb-container {
   transition: -webkit-transform 0s linear;
   transition: transform 0s linear
}

.range-slider-right md-slider .md-track-container .md-track.md-track-fill {
   background-color: #3d4450
}



.range-slider-left {
 position:absolute;
 top:0;
 width:100%;
 md-slider .md-track-container .md-track.md-track-fill {
   background-color:rgb(132,132,132);
 }
}

.range-slider-right {
 position:absolute;
 top:0;
 right:0px;
}

.range-slider-right md-slider .md-thumb-container {
 transition: -webkit-transform 0s linear;
 transition: transform 0s linear;
}

.range-slider-left md-slider.md-default-theme .md-track.md-track-fill {
 background-color:rgba(0,0,0,0.26) !important;
}

.range-slider-display{
    display:inline-block;
    width:50px;
    height:58px;
    text-align:center;
    vertical-align:middle;
}
