<!-- Template of the configurator directive -->
<div class="configurator">
	<div class="configurator-header">
		<div class="pcm-name">{{ pcm.name }}</div>
		<div class="pcm-param">License :</div> {{ metadata.license }} <br>
		<div class="pcm-param">Source :</div> {{ metadata.source }} <br>
	</div>

	<div class="configurator-action-bar">
		<button class="button" ng-click="configuratorHideShow()"><div ng-class="configuratorArrow"></div> {{ configuratorHideShowMessage }}</button>
	</div>

	<div class="configurator-content">
		<div class="configurator-panel" ng-style="configuratorStyle">
			<div ng-repeat="feature in features">
				<oc-feature feature="feature"></oc-feature>
			</div>
		</div><!-- close configuratorPanel

		--><div class="pcm-wrap" ng-style="pcmWrapStyle">
			<pcm features="features" products="products"></pcm>
		</div>
	</div><!-- close container -->
</div>
